*{
	margin: 0;
	padding: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}


/*头部*/
.head{
	width: 100%;
	height: 75px;
	box-shadow: 0px 3px 5px black ;
	background: black;
	opacity: 0.5;
	width: 100%;
	position:fixed;
	z-index: 99;
	margin-top: -8%;
	text-align: center;
}
.head img{
	width: 8%;
    padding-top: 11px;
}
.head div a{
	color: gainsboro;
	font-size: 10px;
	padding: 0 2vw;
	text-decoration: none;
}	

/*头部结束*/

/*导航*/
.wrap{
	width: 80vw;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-top: 8%;
}
.img_div img{
	width: 80vw;
	float: left;
	
}
.img_div{
	animation: name 10s ease infinite;
	position: relative;
	width: 400%;
}
@keyframes name{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -80vw;
		}
	45%{
		left: -80vw;
		}
	50%{
		left: -160vw;
		}
	70%{
		left: -160vw;
		}
	75%{
		left: -240vw;
		}	
	95%{
		left: -240vw;
		}	
	100%{
		left: 0;
	}			
}

.dis{
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
}
.dis li{
	color: black;
	width: 80vw;
	height: 20px;
	line-height: 20px;
	text-align: center;
	list-style: none;
	float: left;
	background: grey;
	opacity: 0.8;
}

.dian{
	text-align: center;
}
.dian span{
	width: 5px;
	height: 5px;
	background: #666666;
	border-radius: 50%;
	display: inline-block;
	margin-left: 20px;
}
.dian span:nth-child(3){
	border: 1px grey solid;
	background: white;
	border-radius: 50%;
	
}		
/*导航结束*/

/*主体*/

.main{
	margin: 0 auto;
	width: 80vw;
	margin-top: 1.5%;
}
.div_p{
	width: 80vw;
	height: 80px;
	border: 1px gainsboro solid;
	border-left: none;
	border-right: none;
	text-indent: 2em;
	line-height: 2vw;
}
.div_p p{
	margin-top: 15px;
	font-size: 1.5vw;
}

.div_logo{
	width: 70vw;
	height: 50px;
	margin: 0 auto;
	margin-left: 130px;
	margin-top: 20px;
}
.div_logo img{
	width: 6%;
	margin-left: -5px;
}
/*图片*/
@media only screen and (min-width:480px ) {
	

.img_wrap{
	margin: 0 auto;
	width: 80vw;
	margin-top: 1.5%;
}
.img_wrap div{
	font-size: 1.5vw;
	width: 25vw;
	background: white;
	box-shadow: 0 3px 3px gainsboro;
	text-align: center;
	margin-left: 2.5vw;
	margin-top: 20px;
	border-radius: 1%;
}
.img_wrap img{
	width: 100%;
	float: left;
}
.img_wrap div span{
	width: 100%;
	float: left;
	
}
.img_wrap div:nth-of-type(3n+1){
	margin-left: 0;
}
}	
@media only screen and (max-width:480px ) {
	

.img_wrap{
	margin: 0 auto;
	width: 80vw;
	margin-top: 1.5%;
}
.img_wrap div{
	font-size: 1.5vw;
	width: 38vw;
	background: white;
	box-shadow: 0 3px 3px gainsboro;
	text-align: center;
	margin-left: 4vw;
	margin-top: 20px;
	border-radius: 1%;
}
.img_wrap img{
	width: 100%;
	float: left;
}
.img_wrap div span{
	width: 100%;
	float: left;
	
}
.img_wrap div:nth-of-type(2n+1){
	margin-left: 0;
}
}	
/*主体结束*/

/*底部*/
.footing{
	margin-top: 5%;
	height: 200px;
	background: #e0e0e0;
	padding-top: 10px;
}
.footing_left{
	width:45%;
	height: 180px;
	border-right: 1px gray solid;
	float:left;
	padding-right: 5%;
}
.footing_left img{
	width: 5%;
	float: right;
}

.footing_right{
	width: 40%;
	float: left;
	margin-left: 2%;
}
.footing_right .img_2{
	width: 20%;	
}
.footing_right p{
	color: #808080;
	font-size: 1vw;
	line-height: 22px;
	
}

/*底部结束*/






